* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px;
  gap: 32px;
}

.description {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px;
  border-radius: 16px;
  background: linear-gradient(120deg, rgb(241, 198, 255), rgb(206, 115, 255));
  color: rgb(68, 12, 131);
  font-size: 18px;
  font-weight: 600;
  box-shadow: 4px 6px 8px rgba(93, 83, 93, 0.516);
}

.home-container h1 {
  color: rgb(68, 12, 131);
  font-size: 36px;
}
